@import url("https://fonts.googleapis.com/css?family=Sansita");
#wrapper {
    height: 100%;
}

.page-header {
    background-image: url(stadiumm.jpg);
    width: 100%;
    background-repeat: no-repeat;
}

#index {
    height: 700px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #efefef;
}
sback

#plan {
    height: 1800px;
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    background-size: cover;
    margin-bottom: 100px;
    height: 100px;
    color: black;
}

#onenav:hover,
#twonav:hover,
#threenav:hover,
#fournav:hover,
#fivenav:hover {
    color: black;
    background-color: white;
}

img {
    max-width: 100%;
    margin-top: 25px;
}

p {
    line-height: 10px;
    margin-left: 50px;
}

body {
    font-family: "Sansita", sans-serif;
    text-align: center;
    height: 1200px;
}

#royals {
    background: url(royalsback.jpg);
    background-size: 300px 300px;
}

#mets {
    background: url(metslogo.png);
}

#giants {
    background: url(giantslogo.gif);
    background-size: 352px 187px
}

.page-nav {
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.page-nav ul {
    display: flex;
    align-items: stretch;
    height: 2.5em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-nav li {
    flex: 1;
    display: flex;
    justify-content: center;
}

.page-nav a {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

body {
    margin-top: 150px;
}

.hide {
    display: inherit;
    width: 100%;
    text-align: center;
}

.center {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

p {
    margin-left: 15%;
    margin-right: 15%;
    line-height: 15px;
}

.big {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black;
    width: 500px;
    height: 50px;
    max-width: 500px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 0px;
    margin: auto;
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px
}

#flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    height: auto;
    min-height: 200px;
    color: white;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    vertical-align: middle;
}

#flexbox .box {
    display: flex;
    flex: auto;
    vertical-align: middle;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black;
    width: 20px;
    height: 400px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 25px;
}

#flexbox2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    height: auto;
    min-height: 200px;
    color: white;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    vertical-align: middle;
}

#flexbox2 .box {
    display: flex;
    flex: auto;
    vertical-align: middle;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 25px;
}

#flexbox2 .big {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black;
    width: 500px;
    height: 50px;
    max-width: 500px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 0px;
    margin: auto;
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px
}

#flexbox3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    height: auto;
    min-height: 200px;
    color: white;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -10px;
    vertical-align: middle;
}

#flexbox3 .box {
    display: flex;
    flex: auto;
    vertical-align: middle;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 25px;
}

#flexbox3 .big {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    color: black;
    width: 500px;
    height: 50px;
    max-width: 500px;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 0px;
    margin: auto;
    width: 85%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px
}

@media (min-width: 801px) {
    iframe {
        height: 315px;
        width: 560px;
    }
}

@media (max-width: 800px) {
    iframe {
        width: 460px;
        height: 315px;
    }
    #flexbox #r9 {
        margin: auto;
    }
    .page-header {
        background-image: url(stadiuml.jpg);
        width: 100%;
        background-repeat: no-repeat;
    }
    p {
        margin-left: 15px;
    }
    #flexbox .box {
        flex: 150px 2;
        max-width: 250px;
    }
    #flexbox2 .box {
        flex: 150px 2;
        max-width: 250px;
    }
    main {
        margin-bottom: 75px;
        width: 100%
    }
}

@media (max-width: 450px) {
    iframe {
        width: 360px;
        height: 315px;
    }
    .page-header {
        background-image: url(stadiump.jpg);
        width: 100%;
        background-repeat: no-repeat;
    }
    #flexbox .box {
        flex: 150px 2;
        max-width: 250px;
        margin: auto;
        margin-bottom: 5px;
        margin-right: 5px;
    }
    .big {
        font-size: 15px;
    }
    p {
        margin-left: 30px;
        margin-top: 3px;
    }
    #flexbox2 .box {
        flex: 150px 2;
        max-width: 250px;
        margin: auto;
        margin-bottom: 5px;
    }
}